body {
  font-family: 'Roboto', sans-serif;
  max-width: 1440px;
  margin: 0;
}

h1, h2 {
  font-family: 'Shrikhand', cursive;
}

h3, h4, h5, h6{
  margin: 0;
}

h4, h5{
  width: 220px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  transition: 1s all;
}

a{
  text-decoration: none;
  color: black;
}

header{
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

/* photo resto */
.photo{
  width: 100%;
 }

 .notePlat{
   position: relative;
   top: -250px;
 }

 /* List plats resto*/ 
section{
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 50px;
  position: relative;
  top: -70px;
  background: white;
}

.headerCard{
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.containerListPlat{
  width: 80%;
}

h3{
  width: 20%;
  border-bottom: 1px solid #99e2d0;
  font-weight: lighter;
}

ul{
  width: 100%;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

li{
  list-style-type: none;
  width: 100%;
  display: flex;
  flex-direction: row;
}

footer{
  background: #353535;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h6{
  margin: 10px 15px;
  font-size: 20px;
}

footer ul{
  width: 60%;
  margin: 0 10px;
}

footer ul li{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  position: relative;
  left: 25px;
}

.anim1{
  position: relative;
  animation: fadeInMenu 1.5s forwards;
  opacity: 0%;
}

.anim2{
  position: relative;
  animation: fadeInMenu 1.5s 1s forwards;
  opacity: 0%;
}

.anim3{
  position: relative;
  animation: fadeInMenu 1.5s 2s forwards;
  opacity: 0%;
}

/* animation apparition de menu*/
@keyframes fadeInMenu{
  from{
    opacity: 0%;
    top: 30px;
  }

  to{
    opacity: 100%;
    top: 0px;
  }
}

.cartePlat label{
  width: 100%;
  height: 70px;
  box-shadow: 1px 1px 10px black;
  border-radius: 10px;
  margin: 10px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 0 20px;
  overflow: hidden;
  cursor: pointer;
}

h5{
  color: grey;
}

/*Bouton commander*/
.containerButton{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button{
  background: linear-gradient(#ff79da, #9356dc);
  width: 60%;
  height: 50px;
  border: none;
  border-radius: 50px;
  color: white;
  margin: 0 0 20px;
  box-shadow: 1px 1px 10px #777777;
}

/* checkbox coeur */
.heart {
  position: relative;
  top: 25px;
  left: -10px;
  --size: 10px;
  width: var(--size);
  height: var(--size);
  transform: rotate(45deg);
}

.heart__checkbox {
  appearance: none;
  position: absolute;
  top: calc(var(--size) * -.4);
  left: calc(var(--size) * -.2);
  width: calc(var(--size) * 1.5);
  height: calc(var(--size) * 1.5);
  z-index: 2;
  cursor: pointer;  
}
    
.heart__checkbox:focus {
  outline: none;
}
    
.heart__checkbox:hover ~ .heart__icon {
  transform:scale(1.1)
}
    
.heart__checkbox:checked ~ .heart__icon {
  animation: heartAnimation forwards 1s;
}

.heart__icon {
  width: var(--size);
  height: var(--size);
  background: #9c9c9c;
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 200ms ease-out;
}

.heart__icon::before,
.heart__icon::after {
  content: '';
  display: block;
  background: inherit;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  position: absolute;
}
  
.heart__icon::before {
  top: 0;
  left: -50%;
}
  
.heart__icon::after {
  left: 0;
  top: -50%;
}

@keyframes heartAnimation {
  0% {
    transform: scale(1.1);
  }
  
  25% {
    transform:scale(0.7);
  }
  
  45% {
    transform: scale(1.4);
    background: #9356dc;
  }
  
  70% {
    transform: scale(1.0);
    background: #9356dc;
  }
  
  100% {
    transform: scale(1.1);
    background: #9356dc;
  }
}

/* Animation Valid */

.input{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.checkmark{
  position: relative;
  left: 100px;
  width: 60px;
  height: 75px;
  background: #99e2d0;
  transition: all 1s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cartePlat input:checked ~ .checkmark{
  left: 35px;
}

.cartePlat input:checked ~ div h5{
  width: 190px;
}

.cartePlat input:checked ~ div h4{
  width: 190px;
}

.prix{
  position: relative;
  left: 25px;
  transition: all 1s;
}

.white{
  color: white;
  transform: scale(1.2);
}

.cartePlat input:checked ~ .prix{
  left: 15px;
}

.check{
  position: absolute;
  left: 0px;
  opacity: 0;
}

/* Footer */
.listFooter li{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 10px 0;
  font-size: 15px;
  font-weight: 400;
  color: white;
}

.listFooter li a {
  color: white;
  text-decoration: none;
}

.h5Menu{
  font-size: 18px;
  margin: 10px 20px;
  padding: 0 15px;
  font-family: 'Shrikhand', cursive;
  color: white;
}

h6{
  font-size: 15px;
  margin: 0 10px;
  font-weight: 400;
}

/* Tablette */
@media screen and (max-width: 992px) and (min-width:769px) {
  header{
    position: relative;
    left: -25px;
  }

  .photo{
    width: 100%;
    height: 300px;
    object-fit: cover;
  }

  h4, h5{
    width: 260px;
  }

  .input{
    width: 100%;
    justify-content: space-between;
  }

  .cartePlat input:checked ~ .checkmark {
    left: 0px;
  }

  .cartePlat input:checked ~ div h4{
    width: 260px
  }
  .cartePlat input:checked ~ div h5{
    width: 260px
  }
}

/* Desktop */
@media screen and (min-width: 993px) {
  body{
    margin: auto
  }
  
  header{
    position: relative;
    left: -220px;
  }
  .photo{
    width: 100%;
    height: 300px;
    object-fit: cover;
  }

  .input{
    width: 100%;
    justify-content: space-between;
  }

  .cartePlat input:checked ~ .checkmark {
    left: 0px;
  }

  .cartePlat input:checked ~ div h4{
    width: 260px
  }
  .cartePlat input:checked ~ div h5{
    width: 260px
  }
}
