body {
  max-width: 1440px;
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}

h1, h5 {
  font-family: 'Shrikhand', cursive;
}

h2{
  margin: 10px 15px;
}

section{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

a{
  text-decoration: none;
  color: black;
}

footer {
  width: 100%;
  background: #353535;
  color: white;
}

/* section info*/
.info{
  background: #f6f6f6;
}

.info span{
  width: 100%;
  background: #eaeaea;
  margin: auto;
  text-align: center;
  box-shadow: 1px 1px 10px inset #979797;
  cursor: pointer;
}

.info div{
  text-align: center;
  width: 80%;
}

.info button{
  background: linear-gradient(#ff79da, #9356dc);
  width: 60%;
  height: 50px;
  border: none;
  border-radius: 50px;
  color: white;
  margin: 0 0 20px;
  box-shadow: 1px 1px 10px #777777;
}

/* section tuto */
.tuto{
  margin: 50px 0;
}
.containerCardTuto{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  position: relative;
  left: -20px;
}

.containerCardTuto span{
  background:#9356dc ;
  color: white;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 30px;
  left: 25px;
}

.cardTuto{
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background: #f6f6f6;
  margin: 10px 0;
  border-radius: 15px;
  box-shadow: 1px 1px 10px #ababab;
}

.cardTuto:hover{
  background: #f5edff;
  box-shadow: 1px 1px 10px rgb(68, 68, 68);
}

.cardTuto i{
  color: #4a4a4a;
}

.cardTuto:hover i{
  color: #9356dc;
}

/* section listRestaurant */
.listRestaurant{
  align-items: flex-start;
  width: 90%;
  background: #f6f6f6;
  padding: 40px 0;
}

.listRestaurant, .info, header, .tuto{
  animation: listAppear 3s;
}

@keyframes listAppear {
  0%{
    opacity: 0%;
  }

  90%{
    opacity: 0%;
  }

  100%{
    opacity: 100%
  }
}

.containerListResto{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.cardResto{
  width: 90%;
  height: 250px;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 1px 1px 10px #797878;
  margin: 10px 0;
}

.float{
  float: right;
  position: relative;
  top: 30px;
  left: -35px;
  background: #99e2d0;
  color: #008766;
  margin: -20px;
  padding: 5px 10px;
  font-size: 10px;
  font-weight: 600;
}

.photo{
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.photoContainer{
  height: 70%;
  overflow: hidden;
}

.big{
  height: 200px;
  object-fit: cover;
}

.cardResto_info{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  position: relative;
  top: -20px;
}

.cardResto_info button{
  background: none;
  border: none;
}

.cardResto_text {
  position: relative;
  top: 7px;
}

.cardResto_text h3{
  margin: 15px 0;
}

.cardResto_text span{
  position: relative;
  top: -10px;
  font-weight: 300;
}

/* checkbox coeur */
.heart {
  position: relative;
  top: 35px;
  left: -20px;
  --size: 10px;
  width: var(--size);
  height: var(--size);
  transform: rotate(45deg);
}

.heart__checkbox {
  appearance: none;
  position: absolute;
  top: calc(var(--size) * -.4);
  left: calc(var(--size) * -.2);
  width: calc(var(--size) * 1.5);
  height: calc(var(--size) * 1.5);
  z-index: 2;
  cursor: pointer;  
}
    
.heart__checkbox:focus {
  outline: none;
}
    
.heart__checkbox:hover ~ .heart__icon {
  transform:scale(1.1)
}
    
.heart__checkbox:checked ~ .heart__icon {
  animation: heartAnimation forwards 1s;
}

.heart__icon {
  width: var(--size);
  height: var(--size);
  background: #9c9c9c;
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 200ms ease-out;
}

.heart__icon::before,
.heart__icon::after {
  content: '';
  display: block;
  background: inherit;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  position: absolute;
}
  
.heart__icon::before {
  top: 0;
  left: -50%;
}
  
.heart__icon::after {
  left: 0;
  top: -50%;
}

@keyframes heartAnimation {
  0% {
    transform: scale(1.1);
  }
  
  25% {
    transform:scale(0.7);
  }
  
  45% {
    transform: scale(1.4);
    background: #9356dc;
  }
  
  70% {
    transform: scale(1.0);
    background: #9356dc;
  }
  
  100% {
    transform: scale(1.1);
    background: #9356dc;
  }
}

/* animation loader spin */
.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  position: fixed;
  top: 400px;
  animation: lds_opacity 3s forwards;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid rgb(0, 0, 0);
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: rgb(0, 0, 0) transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes lds_opacity{
  0% {
    opacity: 100%;
  }

  90%{
    opacity: 100%;
  }

  100% {
    opacity: 0%;
    display: none;
  }
}

.listFooter{
  list-style-type: none ;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.listFooter li{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 10px 0;
  font-size: 15px;
  font-weight: 400;
  color: white;
}

.listFooter li a {
  color: white;
}

h5{
  font-size: 18px;
  margin: 10px 20px;
  padding: 0 15px;
}

h6{
  font-size: 15px;
  margin: 0 10px;
  font-weight: 400;
}

/* Tablette */
@media screen and (max-width: 992px) and (min-width:769px) {
  .containerCardTuto{
    position: relative;
    left: -20px;
  }
  .containerCardTuto span{
    left: 62px;
  }

  .containerListResto{
    width: 100%;
  }

  .photo{
    width: 100%;
    height: 300px;
    object-fit: cover;
  }
}

/* Desktop */
@media screen and (min-width: 993px) {
  body{
    margin: auto
  }

  .containerCardTuto span{
    left: 120px;
  }

  .containerListResto{
    width: 100%;
  }

  .cardResto{
    width: 60%;
  }

  .photo{
    width: 100%;
    height: 300px;
    object-fit: cover;
  }
}
